

$body_bg: #f1f5fc; ////////// Модуль
$blue: #266BF1;
$white: #ffffff;


$grid_color: rgb(0 0 0 / 0%);
$grid_margin: percentage(40 / 1920); // 40 / 1920 * 100%;
$grid_width: percentage(157 / (1920 - 40 * 2));
$grid_gutter: percentage(30 / (1920 - 40 * 2));

$grid_areas:   ". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . ."
". . . . . . . . . . . .";

$template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
$template-coll: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
